#app_header{
    width: 100%;
    margin-top: 1.0em;
    margin-left: 2.9em;
    color: #042331;
    text-align: left;
    font-family: Microsoft PhagsPa;
    font-size: 1.5em;
}
/*CSS for metric MAIN dashboard page*/

.revpar__dropdown__date{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 1.0em;
    background-color: #fff;
}
.revpar__dropdown__date:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
.revpar__dropdown__hover{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: text;
    border: solid 1px rgba(4, 35, 49, 0.2);
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
}
.revpar__menu__item{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: pointer;
    border: none;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: solid 1px rgba(4, 35, 49, 0.1);
}
.revpar__menu__item:hover{
    background-color: #f0f0f0;
}
.revpar__dropdown__menu{
    position: absolute;
    margin-top: 0.05em;
    display: none;
}
.revpar__dropdown__date:hover .revpar__dropdown__menu{
    display: block;
    border: solid 1px rgba(4, 35, 49, 0.1);
}
.revpar__date__filter__title{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 0.95em;
}
/* For Hotel Resp Graph */
.revresp__dropdown__date{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 1.0em;
    background-color: #fff;
}
.revresp__dropdown__date:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
.revresp__dropdown__hover{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: text;
    border: solid 1px rgba(4, 35, 49, 0.2);
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
}
.revresp__menu__item{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: pointer;
    border: none;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: solid 1px rgba(4, 35, 49, 0.1);
}
.revresp__menu__item:hover{
    background-color: #f0f0f0;
}
.revresp__dropdown__menu{
    position: absolute;
    margin-top: 0.05em;
    display: none;
}
.revresp__dropdown__date:hover .revresp__dropdown__menu{
    display: block;
    border: solid 1px rgba(4, 35, 49, 0.1);
}
.revresp__date__filter__title{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 0.95em;
}
/* For Occ% vs Avail% */

.occ__dropdown__date{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 1.0em;
    background-color: #fff;
}
.occ__dropdown__date:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
.occ__dropdown__hover{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: text;
    border: solid 1px rgba(4, 35, 49, 0.2);
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
}
.occ__menu__item{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: pointer;
    border: none;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: solid 1px rgba(4, 35, 49, 0.1);
}
.occ__menu__item:hover{
    background-color: #f0f0f0;
}
.occ__dropdown__menu{
    position: absolute;
    margin-top: 0.05em;
    display: none;
}
.occ__dropdown__date:hover .occ__dropdown__menu{
    display: block;
    border: solid 1px rgba(4, 35, 49, 0.1);
}
.occ__date__filter__title{
    position: relative;
    display: inline-block;
    margin-left: 65.5em;
    margin-top: 0.95em;
}

/*Main dashboard*/
.dropdown__date{
    position: relative;
    display: inline-block;
    margin-left: 72.35em;
    margin-top: 1.0em;
    background-color: #fff;
}
.dropdown__date:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
.dropdown__hover{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: text;
    border: solid 1px rgba(4, 35, 49, 0.2);
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
}
.menu__item{
    display: inline-block;
    width: 12.0em;
    padding: 0.3em;
    background-color: #fff;
    color: #042331;
    cursor: pointer;
    border: none;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 0.9em;
    border-bottom: solid 1px rgba(4, 35, 49, 0.1);
}
.menu__item:hover{
    background-color: #f0f0f0;
}
.dropdown__menu{
    position: absolute;
    margin-top: 0.05em;
    display: none;
}
.dropdown__date:hover .dropdown__menu{
    display: block;
    border: solid 1px rgba(4, 35, 49, 0.1);
}
.date__filter__title{
    position: relative;
    display: inline-block;
    margin-left: 72.5em;
    margin-top: 0.95em;
}

#metric-stats{
    margin-left: 5.35em;
}
.wrapper-metric-stats{
    display: flex;
    max-height: 12.2em;
    overflow-x: auto;
    transition: all 0.4s ease;
}
.wrapper-metric-stats::-webkit-scrollbar{
    width: 0;
}
.metric-stats-item{
    border-radius: 0.5em;
    background-color: #fff;
    margin-left: 0.6em;
    margin-top: 0.2em;
    text-align: center;
    color: #042331;
    min-width: 8.9em;
    max-height: 11.5em;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 1.3em;
}
#metric-mom{
    padding-bottom: -0.5em;
}
#metric-mom:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-adr:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-revpar:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-occ:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-avail:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-rating:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}


#metric-rev-par-graph{
    margin-top: -10.1em;
    margin-left: 4.5em;
    width: 32.0em;
    transition: all 0.8s ease;
}
#metric-occ-graph{
    float: left;
    width: 32.0em;
    margin-top: -17.0em;
    margin-left: 38.9em;
    transition: all 0.8s ease;
}

#metric-revpar-canvas:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#occ-metric-canvas:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-hotel-resp-graph:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}

#metric-revpar-canvas, #occ-metric-canvas ,#metric-hotel-resp-graph{
    background-color: #fff;
    padding: 0.5em;
}

#metric-hotel-resp-graph{
    width: 66.4em;
    margin-left: 4.5em;
    margin-top: 1.0em;
    transition: all 0.1s ease;
}
/*CSS for Stats bar*/
.val-adr{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-revpar{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-occ{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-avail{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-rating{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}

/*CSS for main dashboard - Rev, Resp & Occ*/
#rev-occ-pid-filter{
    margin-left: 72.5em;
    margin-top: 2.0em;
}

/*Side Menue Bar*/
.sidebar *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    top: 3.8em;
    left: 0em;
    width: 3.18em;
    height: 100%;
    background: #042331;
    transition: all 0.4s ease;
}

.sidebar ul li{
    padding-top: 0.5em;
}
#metric-btn{
    border-top-right-radius:0.8em;
}
.sidebar ul button{
    border-top-right-radius:0.8em;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 1.95em;
    font-size: 1.2em;
    padding-left: 0.6em;
    color: white;
    box-sizing: border-box;
    border-top: 0.1em solid #f0f0f013;
    border-bottom: 0.1em solid #042331;
    border-left-color: #042331;
    
    background-color: #042331;
    text-align: left;
    transition: .4s;
}
ul li:hover button{
    color: #042331;
    background-color: #f0f0f0;
    border-top: 0.1em solid #042331;
}

#check{
    display: none;
}

label #btn{
    position: fixed;
    display: inline-block;
    background: #042331;
    border-top-right-radius:0.8em;
    left: 0;
    top: 0.85em;
    width: 1.42em;
    height: 1.4em;
    font-size: 1.65em;
    color: white;
    padding: 0.15em 0.25em;
    transition: 0.4s;
}

.graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 14.7em;
    font-size: 1.9em;
}
.revresp-graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 12.0em;
    font-size: 1.9em;
}

#rev-par-container, #rev-resp-container, #occ-container{
    display: none;
}

/*CSS for rev-par-graph*/
#revpar-pid-filter{
    display: none;
    margin-left: 65.5em;
    margin-top: 2.0em;
}
#rev-par-container{
    display: none;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#rev-par-graph{
    margin-left: 6.0em;
    margin-top: -10.5em;
    height: 60%;
    width: 68%;
}
#revpar-canvas{
    padding: 0.6em;
    background-color: #fff;
}

/*CSS for rev-resp-graph*/
#revresp-pid-filter{
    display: none;
    margin-left: 65.5em;
    margin-top: 2.0em;
}
#revresp-container{
    display: none;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#revresp-graph{
    margin-left: 6.0em;
    margin-top: -10.5em;
    height: 60%;
    width: 68%;
}
#rev-resp-canvas{
    padding: 0.8em;
    background-color: #fff;
}

/*CSS for occ-graph*/
#occ-pid-filter{
    display: none;
    margin-left: 65.5em;
    margin-top: 2.0em;
}
#occ-container{
    display: none;
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#occ-graph{
    margin-left: 6.0em;
    margin-top: -10.5em;
    height: 60%;
    width: 68%;
}
#occ-canvas{
    padding: 0.6em;
    background-color: #fff;
}


/*Media queries here*/
@media screen and (max-width: 480px){ /*---PORTRAIT MODE---*/

    /*Non Metric Graphs - Rev vs ADR*/
    #revpar-pid-filter{
        display: block;
        margin-left: 30.0em;
        width: 10.0em;
    }
    .revpar__date__filter__title{
        width: 10.0em;
    }
    .revpar__date__filter__title, .revpar__dropdown__date{
        display: block;
        margin-left: 30.0em;
    }
    .graph-title{
        width: 10.0em;
        margin-top: 1.0em;
        margin-left: 6.8em;
        font-size: 1.6em;
    }
    #rev-par-graph{
        position: relative;
        margin-top: -10.0em;
        margin-left: 4.0em;
        
        width: 24.0em;
        height: 13.0em;
    }
    /*Non Metric Graphs - Avg. Review Score vs Hotel Resp Bool*/
    .revresp-graph-title{
        margin-left: 4.7em;
        font-size: 1.6em;
        width: 16.0em;
    }
    #revresp-pid-filter{
        display: block;
        margin-left: 36.0em;
        width: 10.0em;
    }
    .revresp__date__filter__title{
        width: 10.0em;
    }
    .revresp__date__filter__title, .revresp__dropdown__date{
        display: block;
        margin-left: 36.0em;
    }
    #revresp-graph{
        position: relative;
        margin-top: -10.0em;
        margin-left: 4.0em;
        
        width: 30.0em;
        height: 15.0em;
    }
    /*Non Metric Graphs - Occ% vs Avail%*/
    #occ-pid-filter{
        display: block;
        margin-left: 30.0em;
        width: 10.0em;
    }
    .occ__date__filter__title{
        width: 10.0em;
    }
    .occ__date__filter__title, .occ__dropdown__date{
        display: block;
        margin-left: 30.0em;
    }
    #occ-graph{
        position: relative;
        margin-top: -10.0em;
        margin-left: 4.0em;
        
        width: 24.0em;
        height: 13.0em;
    }
    
    /* MAIN METRIC DASHBOARD CONTENTS */
    #app_header{
        margin-top: 1.45em;
        margin-left: 4.6em;
        font-size: 1.2em;
    }
    label #btn{
        width: 1.47em;
    }
    #metric-stats{
        width: 37.0em;
        margin-top: 1.9em;
        margin-left: 3.1em;
    }
    #metric-rev-par-graph{
        position: relative;
        margin-top: -12.0em;
        margin-left: 3.4em;
        
        width: 24.0em;
        height: 12.0em;
    }
    #metric-occ-graph{
        position: relative;
        margin-top: 1.8em;
        margin-left: 3.4em;
        
        width: 24.0em;
        height: 12.0em;
    }
    #metric-hotel-resp-graph{
        position: relative;
        margin-top: 15.8em;
        margin-left: 3.4em;
        
        width: 30.0em;
        height: 15.0em;
    }
    /*Mobile Device - CSS for property and date filters*/
    #rev-occ-pid-filter{
        display: block;
        margin-left: 30.0em;
        width: 10.0em;
    }
    .date__filter__title{
        width: 10.0em;
    }
    .date__filter__title, .dropdown__date{
        display: block;
        margin-left: 30.0em;
    }
    #revpar-pid-filter, #revresp-pid-filter, #occ-pid-filter{
        display: none;
    }
    
}