#app_header{
    width: 100%;
    margin-top: 1.0em;
    margin-left: 4.0em;
    color: #042331;
    text-align: left;
    font-family: Microsoft PhagsPa;
    font-size: 1.5em;
}

/*CSS for metric MAIN dashboard page*/
#metric-stats{
    margin-left: 5.35em;
}
.wrapper-metric-stats{
    display: flex;
    max-height: 12.2em;
    overflow-x: auto;
    transition: all 0.4s ease;
}
.wrapper-metric-stats::-webkit-scrollbar{
    width: 0;
}
.metric-stats-item{
    background-color: #fff;
    margin-left: 0.6em;
    margin-top: 0.2em;
    text-align: center;
    color: #042331;
    min-width: 8.9em;
    max-height: 11.5em;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 1.3em;
}
#metric-mom{
    padding-bottom: -0.5em;
}
#metric-mom:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-adr:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-revpar:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-occ:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-avail:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-rating:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
/*
.metric-graph{
    margin-top: 11.6em;
    height: 0.4em;
    width: 0.4em;
    background-color: aqua;
    transition: all 0.8s ease;
}
*/
#metric-rev-par-graph{
    margin-top: 1.0em;
    margin-left: 4.5em;
    width: 32.0em;
    transition: all 0.8s ease;
}
#metric-occ-graph{
    float: left;
    width: 32.0em;
    margin-top: -17.0em;
    margin-left: 38.9em;
    transition: all 0.8s ease;
}
#metric-revpar-canvas:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#occ-metric-canvas:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}
#metric-hotel-resp-graph:hover{
    filter: drop-shadow(00.2em 00.2em 00.3em #a7a7a7);
}

#metric-revpar-canvas, #occ-metric-canvas ,#metric-hotel-resp-graph{
    background-color: #fff;
    padding: 0.5em;
}

#metric-hotel-resp-graph{
    width: 66.4em;
    margin-left: 4.5em;
    margin-top: 1.0em;
    transition: all 0.4s ease;
}
/*
#metric-rev-resp-canvas{
    margin-top: 25px;
    height: 500px !important; 
    width: 93% !important;
    margin-left: 40px;
    transition: all 2.0s ease;
}
*/
/*CSS for Stats bar*/
.val-adr{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-revpar{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-occ{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-avail{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}
.val-rating{
    float: left;
    margin-top: -2.2em;
    margin-left: 3.5em;
}

/*--------Making triangles for stats--------*/

/*Adr up and down triangles*/
.triangle-adr-up{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-bottom: 1.2em solid;
    margin-left: 2.6em;
}
.triangle-adr-down{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-top: 1.2em solid;
    margin-left: 2.6em;
}

/*Revpar up and down triangles*/
.triangle-revpar-up{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-bottom: 1.2em solid;
    margin-left: 2.6em;
}
.triangle-revpar-down{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-top: 1.2em solid;
    margin-left: 2.6em;
}

/*Occ up and down triangles*/
.triangle-occ-up{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-bottom: 1.2em solid;
    margin-left: 2.6em;
}
.triangle-occ-down{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-top: 1.2em solid;
    margin-left: 2.6em;
}

/*Rating up and down triangles*/
.triangle-rating-up{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-bottom: 1.2em solid;
    margin-left: 2.6em;
}
.triangle-rating-down{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-top: 1.2em solid;
    margin-left: 2.6em;
}

/*Avail up and down triangles*/
.triangle-avail-up{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-bottom: 1.2em solid;
    margin-left: 2.6em;
}
.triangle-avail-down{
    width: 0;
    height: 0;
    border-left: 0.6em solid;
    border-right: 0.6em solid;
    border-top: 1.2em solid;
    margin-left: 2.6em;
}

/*CSS for main dashboard - Review Score & Hotel Resp Bool*/
#rev-resp-main-tmp-date{
    float: right;
    margin-top: 454px;
    margin-right: -33.5px;
    display: none;
}
#rev-resp-pid-filter{
    float: right;
    margin-right: -55px;
    margin-top: 355px;
}
#rev-resp-main-date{
    float: right;
    margin-top: 438px;
    margin-right: -175px;
}
#rev-resp-main-label-amount{
    margin-right: 142px;
    margin-top: 73px;
}
#rev-resp-main-amount{
    margin-top: 78px;
    margin-right: 3px;
    font-weight: bold;
}
#rev-resp-main-metric-date{
    float: right;
    margin-top: 478px;
    margin-right: -124px;
    color: #f6931f;
    font-weight: bold;
    font-size: 13.5px;
}
#rev-resp-main-slider-range{
    float: right;
    width: 120px;
    margin-right: -125px;
    margin-top: 506px; /*Prev = 499*/
}

/*CSS for main dashboard - Rev & Occ*/
#rev-occ-main-tmp-date{
    float: right;
    margin-top: 135px;
    margin-right: -33.5px;
    display: none;
}
#rev-occ-pid-filter{
    float: right;
    margin-top: 39px;
    margin-right: 80px;
}
#rev-occ-main-date{
    float: right;
    margin-top: 119px;
    margin-right: -124px;
}
#rev-occ-main-amount{
    margin-top: 44px;
    font-weight: bold;
}
#rev-occ-main-label-amount{
    margin-top: 39px;
    margin-right: 91px;
}
#rev-occ-main-metric-date{
    float: right;
    margin-top: 166px;
    margin-right: -124px;
    color: #f6931f;
    font-weight: bold;
    font-size: 13.5px;
}
#rev-occ-main-slider-range{
    float: right;
    width: 120px;
    margin-right: -125px;
    margin-top: 193px;
}

/*Side Menue Bar*/
.sidebar *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -15.7em;
    width: 15.7em;
    height: 100%;
    background: #042331;
    transition: all 0.4s ease;
}
.sidebar header{
    font-size: 1.4em;
    color: white;
    text-align: center;
    font-family: Microsoft PhagsPa;
    line-height: 3.1em;
    background: #063146;
    user-select: none;
}
.sidebar ul button{
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 3.0em;
    font-size: 1.2em;
    padding-left: 1.3em;
    color: white;
    box-sizing: border-box;
    border-top: 0.1em solid rgba(255, 255, 255, 0.1);
    border-bottom: 0.1em solid black;
    border-left-color: #042331;
    background-color: #042331;
    text-align: left;
    transition: .4s;
}
ul li:hover button{
    padding-left: 1.5em;
}
.sidebar ul button i{
    margin-right: 0.6em;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #042331;
    border-radius: 0.2em;
}
label #btn{
    left: 0.7em;
    top: 0.5em;
    font-size: 2.2em;
    color: white;
    padding: 0.15em 0.25em;
    transition: 0.4s;
}
label #cancel{
    z-index: 1111;
    position: fixed;
    left: -5.0em;
    top: 0.45em;
    font-size: 2.1em;
    color: white;
    padding: 0.15em 0.25em;
    transition: all 0.4s ease;
}
#metric-container{
    transition: all 0.4s ease;
}
.graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 14.7em;
    font-size: 1.9em;
}
.rev-resp-graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 12.0em;
    font-size: 1.9em;
}
#check:checked ~ .sidebar{
    z-index: 1110;
    left: 0;
    top: 0;
}
#check:checked ~ label #btn{
    left: 1.6em;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 5.7em;
}

#check:checked ~ #metric-stats{
    margin-left: 7.9em;
}

#check:checked ~ .metric-stats-item{
    margin-left: 7.9em;
}

#check:checked ~ #metric-rev-par-graph {
    margin-left: 29.1em;
    margin-top: 2.8em;
    transform: scale(1.2);
    align-items: center;
}

#check:checked ~ #metric-occ-graph{
    margin-left: 29.1em;
    margin-top: 4.5em;
    transform: scale(1.2);
}

#check:checked ~ #metric-hotel-resp-graph {
    margin-left: 11.8em;
    margin-top: 24.3em;
    transform: scaleX(1.0);
    align-items: center;
}
#check:checked ~ .graph-title {
    text-align: center;
    font-size: 2.5em;
}
#check:checked ~ #rev-par-container {
    margin-left: 8.5em;
    transform: scaleX(0.8);
}
#check:checked ~ #rev-resp-container {
    margin-left: 8.5em;
    transform: scaleX(0.8);
}
#check:checked ~ #occ-container {
    margin-left: 8.5em;
    transform: scaleX(0.8);
}

#rev-par-container, #rev-resp-container, #occ-container{
    display: none;
}

/*CSS for rev-par-graph*/
#rev-par-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#rev-par-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#revpar-canvas{
    padding: 0.6em;
    background-color: #fff;
    height: 32.0em !important;
    width: 68.0em !important;
}
#rev-par-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -1.0em;
}
#rev-par-date{
    color: #f6931f;
    font-weight: bold;
}
/*CSS for checkboxes in control panel of revpar graph*/
.revpar-label{
    color: gray;
}
.rev-resp-label{
    color: gray;
}
.occ-label{
    color: gray;
}

/*CSS for occ-graph*/
#occ-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#occ-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#occ-canvas{
    padding: 0.6em;
    background-color: #fff;
    height: 32.0em !important;
    width: 68.0em !important;
}
#occ-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -1.0em;
}
#occ-date{
    color: #f6931f;
    font-weight: bold;
}

/*CSS for rev-resp-graph*/
#rev-resp-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#rev-resp-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#rev-resp-canvas{
    padding: 0.8em;
    background-color: #fff;
    height: 32.0em !important;
    width: 68.0em !important;
}
#rev-resp-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -1.0em;
}
#rev-resp-date{
    color: #f6931f;
    font-weight: bold;
}
/*Media queries here*/
@media screen and (max-width: 720px){ 
    #app_header{
        margin-top: 1.45em;
        margin-left: 4.0em;
        font-size: 1.2em;
    }
    #metric-stats{
        width: 100%;
        margin-top: 1.5em;
        margin-left: 0.1em;
        background-color: cadetblue;
    }
    #metric-rev-par-graph{
        position: relative;
        margin-top: 0.9em;
        margin-left: 0.3em;
        
        width: 22.0em;
        height: 12.0em;
        
        overflow: hidden;
    }
    
    #metric-revpar-canvas{
        width: 30.0em;
        height: 20.0em;
    }
    
    #metric-occ-graph{
        position: relative;
        margin-top: 1.6em;
        margin-left: 0.3em;
        
        width: 22.0em;
        height: 12.0em;
        
        overflow: hidden;

    }
    #occ-metric-canvas{
        width: 30.0em;
        height: 20.0em;
    }

    #metric-hotel-resp-graph{
        position: relative;
        margin-top: 17.15em;
        margin-left: 0.3em;
        
        width: 28.0em;
        height: 16.0em;

        overflow: auto;
    }
    #metric-rev-resp-canvas{
        margin-top: 3%;
    }

    /*Menu button-to-graphs CSS*/
    #check:checked ~ #metric-rev-par-graph {
        position: relative;
        margin-top: 0.0em;
        margin-left: 3.8em;
        width: 24.0em;
        height: 14.0em;
        transform: scale(1.0);
    }
    #check:checked ~ #metric-occ-graph{
        position: relative;
        margin-top: 2.0em;
        margin-right: 1.2em;
        width: 24.0em;
        height: 14.0em;
        transform: scale(1.0);
    }
    #check:checked ~ #metric-hotel-resp-graph {
        position: relative;
        margin-top: 18.0em;
        margin-left: 0.3em;
        width: 28.8em;
        height: 17.3em;
    }

    /*Non Metric Graphs*/
    .graph-title{
        margin-left: 4.8em;
        font-size: 1.5em;
    }
    .rev-resp-graph-title{
        margin-left: 3.9em;
        font-size: 1.5em;
    }
    #check:checked ~ #rev-par-graph {
        position: relative;
        margin-top: 0.0em;
        margin-left: 2.9em;
        width: 24.0em;
        height: 14.0em;
    }
    #revpar-canvas{
        width: 24.0em !important;
        height: 14.0em !important;
    }
    #check:checked ~ #metric-hotel-resp-graph {
        position: relative;
        margin-top: 17.15em;
        margin-left: 0.3em;
        width: 28.8em;
        height: 17.3em;
    }
    #rev-resp-canvas{
        width: 24.0em !important;
        height: 14.0em !important;
    }
    #check:checked ~ #occ-graph{
        position: relative;
        margin-top: 1.6em;
        margin-right: 2.4em;
        width: 24.0em;
        height: 14.0em;
    }
    #occ-canvas{
        width: 24.0em !important;
        height: 14.0em !important;
    }
    
    #rev-par-control-panel, #rev-resp-control-panel, #occ-control-panel, #rev-occ-pid-filter, #rev-occ-main-date, #rev-occ-main-tmp-date, #rev-occ-main-metric-date, #rev-occ-main-slider-range, #rev-resp-pid-filter, #rev-resp-main-date, #rev-resp-main-tmp-date, #rev-resp-main-metric-date, #rev-resp-main-slider-range{
        display: none;
    }
    
}