#app_header{
    width: 100%;
    margin-top: 33px;
    margin-left: 131px;
    color: #042331;
    text-align: left;
    font-family: Microsoft PhagsPa;
    font-size: 20px;
}

/*CSS for metric MAIN dashboard page*/
.wrapper-metric-stats{
    display: flex;
    margin-top: -40px;
    max-height: 190px;
    overflow-x: auto;
    transition: all 0.4s ease;
}
.wrapper-metric-stats::-webkit-scrollbar{
    width: 0;
}
.metric-stats-item{
    background-color: #fff;
    margin-left: 14px;
    margin-top: 50px;
    text-align: center;
    color: #042331;
    min-width: 170px;
    max-height: 180px;
    font-family: Microsoft PhagsPa;
    font-weight: bold;
    font-size: 21px;
}
#metric-mom{
    padding-bottom: -7px;
}
#metric-mom:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-adr:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-revpar:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-occ:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-avail:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-rating:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
/*filter: drop-shadow(2px 2px 4px #c8c8c8);*/
#metric-stats{
    margin-left: 9%;
    border-radius: 3px;
}

.metric-graph{
    margin-top: 180px;
    height: 40%;
    width: 40%;
    transition: all 0.8s ease;
}
#metric-occ-graph{
    float: right;
    margin-top: -280px;
    margin-right: 34px;
    transition: all 0.8s ease;
}
#metric-rev-par-graph{
    margin-top: 15px;
    margin-left: 70px;
    transition: all 0.8s ease;
}
#metric-revpar-canvas:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#occ-metric-canvas:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}
#metric-hotel-resp-graph:hover{
    filter: drop-shadow(3px 3px 5px #a7a7a7);
}

#metric-revpar-canvas, #occ-metric-canvas ,#metric-hotel-resp-graph{
    background-color: #fff;
    padding: 7px;
}
#metric-hotel-resp-graph{
    width: 82%;
    margin-left: 71px;
    margin-top: 25px;
    transition: all 0.8s ease;
}
/*
#metric-rev-resp-canvas{
    margin-top: 25px;
    height: 500px !important; 
    width: 93% !important;
    margin-left: 40px;
    transition: all 2.0s ease;
}
*/


/*CSS for Stats bar*/
.val-adr{
    float: left;
    margin-top: -42px;
    margin-left: 70px;
}
.val-revpar{
    float: left;
    margin-top: -42px;
    margin-left: 70px;
}
.val-occ{
    float: left;
    margin-top: -42px;
    margin-left: 70px;
}
.val-avail{
    float: left;
    margin-top: -42px;
    margin-left: 70px;
}
.val-rating{
    float: left;
    margin-top: -42px;
    margin-left: 70px;
}

/*--------Making triangles for stats--------*/

/*Adr up and down triangles*/
.triangle-adr-up{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-bottom: 18px solid;
    margin-left: 41px;
}
.triangle-adr-down{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-top: 18px solid;
    margin-left: 41px;
}

/*Revpar up and down triangles*/
.triangle-revpar-up{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-bottom: 18px solid;
    margin-left: 41px;
}
.triangle-revpar-down{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-top: 18px solid;
    margin-left: 41px;
}

/*Occ up and down triangles*/
.triangle-occ-up{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-bottom: 18px solid;
    margin-left: 41px;
}
.triangle-occ-down{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-top: 18px solid;
    margin-left: 41px;
}

/*Rating up and down triangles*/
.triangle-rating-up{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-bottom: 18px solid;
    margin-left: 41px;
}
.triangle-rating-down{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-top: 18px solid;
    margin-left: 41px;
}

/*Avail up and down triangles*/
.triangle-avail-up{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-bottom: 18px solid;
    margin-left: 41px;
}
.triangle-avail-down{
    width: 0;
    height: 0;
    border-left: 9px solid;
    border-right: 9px solid;
    border-top: 18px solid;
    margin-left: 41px;

}

/*CSS for main dashboard - Review Score & Hotel Resp Bool => (in the css all margin-top: 39+5+5+7+5+5+2+5 = 73px to each)*/
#rev-resp-main-tmp-date{
    float: right;
    margin-top: 454px;
    margin-right: -33.5px;
    display: none;
}
#rev-resp-pid-filter{
    float: right;
    margin-right: -55px;
    margin-top: 355px;
}
#rev-resp-main-date{
    float: right;
    margin-top: 438px;
    margin-right: -175px;
}
#rev-resp-main-label-amount{
    margin-right: 142px;
    margin-top: 73px;
}
#rev-resp-main-amount{
    margin-top: 78px;
    margin-right: 3px;
    font-weight: bold;
}
#rev-resp-main-metric-date{
    float: right;
    margin-top: 478px;
    margin-right: -124px;
    color: #f6931f;
    font-weight: bold;
    font-size: 13.5px;
}
#rev-resp-main-slider-range{
    float: right;
    width: 120px;
    margin-right: -125px;
    margin-top: 506px; /*Prev = 499*/
}

/*CSS for main dashboard - Rev & Occ  => (in the css all margin-top: 10+40-10-1 = 39px to each)*/
#rev-occ-main-tmp-date{
    float: right;
    margin-top: 135px;
    margin-right: -33.5px;
    display: none;
}
#rev-occ-pid-filter{
    float: right;
    margin-top: 39px;
    margin-right: 80px;
}
#rev-occ-main-date{
    float: right;
    margin-top: 119px;
    margin-right: -124px;
}
#rev-occ-main-amount{
    margin-top: 44px;
    font-weight: bold;
}
#rev-occ-main-label-amount{
    margin-top: 39px;
    margin-right: 91px;
}
#rev-occ-main-metric-date{
    float: right;
    margin-top: 166px;
    margin-right: -124px;
    color: #f6931f;
    font-weight: bold;
    font-size: 13.5px;
}
#rev-occ-main-slider-range{
    float: right;
    width: 120px;
    margin-right: -125px;
    margin-top: 193px;
}

/*Side Menue Bar*/
.sidebar *{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all 0.4s ease;
}
.sidebar header{
    font-size: 22px;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 70px;
    background: #063146;
    user-select: none;
}
.sidebar ul button{
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    line-height: 60px;
    font-size: 20px;
    padding-left: 20px;
    color: white;
    box-sizing: border-box;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid black;
    border-left-color: #042331;
    background-color: #042331;
    text-align: left;
    transition: .4s;
}
ul li:hover button{
    padding-left: 23px;
}
.sidebar ul button i{
    margin-right: 10px;
}
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
    background-color: #042331;
    border-radius: 3px;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 3px 6px;
    transition: 0.3s;
}
label #cancel{
    z-index: 1111;
    position: fixed;
    left: -195px;
    top: 14px;
    font-size: 35px;
    color: white;
    padding: 3px 6px;
    transition: all 0.4s ease;
}
#metric-container{
    transition: all 0.4s ease;
}
.graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 456px;
    font-size: 30px;
}
.rev-resp-graph-title{
    font-family: Microsoft PhagsPa;
    color: #042331;
    margin-left: 380px;
    font-size: 30px;
}
#check:checked ~ .sidebar{
    z-index: 1110;
    left: 0;
    top: 0;
}
#check:checked ~ label #btn{
    left: 250;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 195px;
}

#check:checked ~ #metric-stats{
    margin-left: 123px;
}

#check:checked ~ .metric-stats-item{
    margin-left: 123px;
}

#check:checked ~ #metric-rev-par-graph {
    margin-left: 455px;
    margin-top: 44px;
    transform: scale(1.2);
    align-items: center;
}

#check:checked ~ #metric-occ-graph{
    margin-right: 209px;
    margin-top: 70px;
    transform: scale(1.2);
    float: right;
    display: flex;
}

#check:checked ~ #metric-hotel-resp-graph {
    margin-left: 185px;
    margin-top: 393px;
    transform: scaleX(1.0);
    align-items: center;
}
#check:checked ~ .graph-title {
    text-align: center;
    font-size: 39px;
}
#check:checked ~ #rev-par-container {
    margin-left: 140px;
    transform: scaleX(0.8);
}
#check:checked ~ #rev-resp-container {
    margin-left: 140px;
    transform: scaleX(0.8);
}
#check:checked ~ #occ-container {
    margin-left: 140px;
    transform: scaleX(0.8);
}

#rev-par-container, #rev-resp-container, #occ-container{
    display: none;
}

/*CSS for rev-par-graph*/
#rev-par-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#rev-par-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#revpar-canvas{
    padding: 10px;
    background-color: #fff;
    height: 500px !important;
    width: 1100px !important;
}
#rev-par-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -15px;
}
#rev-par-date{
    color: #f6931f;
    font-weight: bold;
}
/*CSS for checkboxes in control panel of revpar graph*/
.revpar-label{
    color: gray;
}
.rev-resp-label{
    color: gray;
}
.occ-label{
    color: gray;
}

/*CSS for occ-graph*/
#occ-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#occ-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#occ-canvas{
    padding: 10px;
    background-color: #fff;
    height: 500px !important;
    width: 1100px !important;
}
#occ-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -15px;
}
#occ-date{
    color: #f6931f;
    font-weight: bold;
}

/*CSS for rev-resp-graph*/
#rev-resp-container{
    height: 100%;
    width: 100%;
    transition: all 0.4s ease;
}
#rev-resp-graph{
    float: left;
    height: 60%;
    width: 85%;
}
#rev-resp-canvas{
    padding: 12px;
    background-color: #fff;
    height: 500px !important;
    width: 1100px !important;
}
#rev-resp-control-panel{
    float: left;
    height: 100%;
    width: 15%;
    margin-left: -10px;
}
#rev-resp-date{
    color: #f6931f;
    font-weight: bold;
}
/*Media queries here*/
@media screen and (max-width: 480px){ 
    #app_header{
        margin-left: 95px;
    }
    #metric-rev-par-graph{
        position: relative;
        margin-top: 0px;
        margin-left: 40px;
        width: 375px;
        height: 223px;
        background-color: aqua;
    }
    
    #metric-revpar-canvas{
        width: 375px;
        height: 223px;
    }
    
    #metric-occ-graph{
        position: relative;
        margin-top: 25px;
        margin-right: 49px;
        width: 375px;
        height: 225px;
        background-color: aqua;
    }
    
    #occ-metric-canvas{
        width: 375px;
        height: 225px;
    }
    #metric-hotel-resp-graph{
        position: relative;
        margin-top: 280px;
        margin-left: 5px;
        width: 450px;
        height: 270px;
    }
    /*Menu button-to-graphs CSS*/
    #check:checked ~ #metric-rev-par-graph {
        position: relative;
        margin-top: 20px;
        margin-left: 31px;
        width: 375px;
        height: 225px;
    }
    #check:checked ~ #metric-occ-graph{
        position: relative;
        margin-top: 75px;
        margin-right: 25px;
        width: 375px;
        height: 225px;
    }
    #check:checked ~ #metric-hotel-resp-graph {
        position: relative;
        margin-top: 300px;
        margin-left: 5px;
        width: 450px;
        height: 270px;
    }
    /*Non Metric Graphs*/
    #check:checked ~ #metric-rev-par-graph {
        position: relative;
        margin-top: 20px;
        margin-left: 31px;
        width: 375px;
        height: 225px;
    }
    #check:checked ~ #metric-occ-graph{
        position: relative;
        margin-top: 75px;
        margin-right: 25px;
        width: 375px;
        height: 225px;
    }
    #check:checked ~ #metric-hotel-resp-graph {
        position: relative;
        margin-top: 353px;
        margin-left: 5px;
        width: 450px;
        height: 270px;
    }
    #rev-par-control-panel, #rev-resp-control-panel, #occ-control-panel, #rev-occ-pid-filter, #rev-occ-main-date, #rev-occ-main-tmp-date, #rev-occ-main-metric-date, #rev-occ-main-slider-range, #rev-resp-pid-filter, #rev-resp-main-date, #rev-resp-main-tmp-date, #rev-resp-main-metric-date, #rev-resp-main-slider-range{
        display: none;
    }
    
}